<?php $CI =& get_instance(); ?>
<?php $this->load->view('nbs/common/header/header.tpl'); ?> 
			<div class="row">
				<div class="col-md-12">
					<div class="portlet box mypasti">
					<div class="portlet-title">										
						<div class="caption">											
							<i class="fa fa-gift"></i>Pemantauan Penambahbaikan									
						</div>																			
					</div>		
					<div class="portlet-body">
						<div class="row">
						<?php foreach($gallery as $a => $b){ ?>
							<div class="col-sm-6 col-md-3">
								<a href="javascript:;" class="thumbnail">
								<img src="<?php echo base_url()."image_upload/".$b['nama_unik_gambar_pembuktian']?>" alt="100%x180" style="height: 180px; width: 100%; display: block;">
								</a>
							</div>
						<?php } ?>
						</div>		
					</div>
					</div>
				</div>
			</div>
<?php $this->load->view('nbs/common/footer/footer.tpl'); ?> 

<script>

function submit_form()
{
	document.test_form.submit();
}
jQuery(document).ready(function() {  
   FormWizard.init();
});
</script>
 


