<?php

foreach($ptj_group_list as $key => $value){
	$ptj_id = $value['id_ptj'];
	$nama_ptj_desc[$ptj_id] = $value['nama_ptj'];
}
?>

<!--<table width="100%" border="0">
	<tr>
		<td>Markah</td>
		<td><?php echo $this->data['display_report_result'][0]['jumlah_markah_keseluruhan']; ?></td>
	</tr>
	
	<tr>
		<td>Peratus</td>
		<td><?php echo $this->data['display_report_result'][0]['peratus_markah']; ?></td>
	</tr>
</table>-->


<p align="center">
    <img width="246" height="119" src="../../eosh/media/nbs/img/ukm.jpg"</img>
</p>

<p align="center">
    LAPORAN PENILAIAN
</p>
<p>
    NAMA PTJ : <?php $nama_ptj = $this->data['display_report_result'][0]['id_ptj'];  echo $nama_ptj_desc[$nama_ptj]; ?>
</p>
<p>
    JENIS AUDIT: Penilaian Umum
</p>
<p>
    BILANGAN AUDIT: Audit  <?php echo $this->data['display_report_result'][0]['bil_audit']; ?>
</p>

<p>
    Tarikh Dan Masa Audit: <?php echo $this->data['display_report_result'][0]['tarikh_masa_audit']; ?>
</p>

<p>
    JUMLAH MARKAH KESELURUHAN: <?php echo $this->data['display_report_result'][0]['jumlah_markah_keseluruhan']; ?>
</p>
<p>
    JUMLAH PERATUS MARKAH: <?php echo $this->data['display_report_result'][0]['peratus_markah']; ?>
</p>
<p>
    GRED: <?php echo $this->data['display_report_result'][0]['gred']; ?>
</p>