@-moz-keyframes update-spinner {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes update-spinner {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@-ms-keyframes update-spinner {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes update-spinner {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/* GLOBAL */

#wrap { width: 480px; padding: 20px 0; margin: 0 auto; }

.arrow_box { padding: 30px; margin: 32px 0 30px 0; background: #b3d9f3; position: relative; border-radius: 6px; }
.arrow_box:before, .arrow_box:after { width: 0; height: 0; border: solid transparent; position: absolute; content: " "; pointer-events: none; }
.arrow_box:before { margin-left: -20px; border-width: 20px; border-bottom-color: #b3d9f3; bottom: 100%; left: 50%; }
.arrow_box.extra:after { margin-left: -20px; border-width: 20px; border-top-color: #b3d9f3; top: 100%; left: 50%; }
.arrow_box p { margin-bottom: 0; }

/* FACEBOOK - WALL */
#facebook_wall { min-height: 200px; margin: 0 0px; position: relative; }

#facebook_wall .facebook-loading { width: 16px; height: 16px; margin: -8px 0 0 -8px; background: url('images/loader.png') no-repeat 50% 50%; position: absolute; top: 100px; left: 50%; }
#facebook_wall .facebook-loading { -moz-animation: update-spinner 1s linear infinite; -webkit-animation: update-spinner 1s linear infinite; -ms-animation: update-spinner 1s linear infinite; animation: update-spinner 1s linear infinite; }

#facebook_wall li { list-style-type: none; min-height: 52px; padding: 10px 10px 10px 72px; border-top: 1px solid #d4d4d4; display: none; position: relative; }
#facebook_wall li:first-child { border-top: none; }

#facebook_wall li .meta-header { }
#facebook_wall li .meta-header .avatar { width: 50px; height: 50px; position: absolute; top: 10px; left: 10px; } 
#facebook_wall li .meta-header .avatar img { border: 1px solid #EEEEEE }
#facebook_wall li .meta-header .author { font-weight: bold; }
#facebook_wall li .meta-header .date { display: none; }

#facebook_wall li .message { color: #666; margin-bottom: 16px; }
#facebook_wall li .story { font-style: italic; color: #666; margin-bottom: 16px; }

#facebook_wall li .media { color: #8a8a8a; margin: 10px 0; }
#facebook_wall li .media.border-left { padding-left: 10px; border-left: 2px solid #a1a1a1; }
#facebook_wall li .media .image { margin-right: 10px; float: left; position: relative; }
#facebook_wall li.type-video .media .image:after { width: 44px; height: 44px; background: url('images/play.png') no-repeat 50% 50%; margin-top: -22px; margin-left: -22px; position: absolute; top: 50%; left: 50%; content: " "; pointer-events: none; }
#facebook_wall li .media .image img { max-width: 100%; height: auto; padding: 2px; border: 1px solid #a1a1a1; }
#facebook_wall li .media .media-meta { float: left; display: table; }
#facebook_wall li .media .media-meta .name { font-weight: bold; }
#facebook_wall li .media .media-meta .caption { font-style: italic; }
#facebook_wall li .media .media-meta .description { }

#facebook_wall li .meta-footer { font-size: 9px; line-height: 16px; color: #a1a1a1; clear: both; }
#facebook_wall li .meta-footer .seperator { padding: 0 4px; }
#facebook_wall li .meta-footer .date { }
#facebook_wall li .meta-footer .likes { }
#facebook_wall li .meta-footer .comments { }
#facebook_wall li .meta-footer .actions { }
#facebook_wall li .meta-footer .actions .like { }
#facebook_wall li .meta-footer .actions .comment { }

#facebook_wall li ul.like-list { margin-top: 10px; display: none; }
#facebook_wall li ul.like-list li.like { font-size: 11px; line-height: 16px; margin-top: 2px; border-top: none; background: #e0e0e0; display: block; }
#facebook_wall li ul.like-list li.like:first-child { margin-top: 0; }
#facebook_wall li ul.like-list li.like .meta-header .author { }

#facebook_wall li ul.comment-list { margin-top: 10px; }
#facebook_wall li ul.comment-list li.comment { font-size: 11px; line-height: 16px; margin-top: 2px; border-top: none; background: #e0e0e0; display: block; }
#facebook_wall li ul.comment-list li.comment:first-child { margin-top: 0; }
#facebook_wall li ul.comment-list li.comment .meta-header .author { }
#facebook_wall li ul.comment-list li.comment .meta-header .date { }
#facebook_wall li ul.comment-list li.comment .message { margin-bottom: 0; }
#facebook_wall li ul.comment-list li.comment .date { font-size: 9px; line-height: 16px; color: #a1a1a1; }
#facebook_wall li ul.comment-list li.read_more { min-height: 1px; font-size: 9px; line-height: 16px; color: #a1a1a1; padding: 0 10px 0 72px; margin: 5px 0 -5px 0; border-top: none; display: block; }
#facebook_wall li ul.comment-list li.read_more a { color: #a1a1a1; }