<?php
/*if($logged_in['facebook_userid']){
    $image_link = "http://graph.facebook.com/". $logged_in['facebook_userid'].'/picture?type=large';
}else{
    $image_link = base_url("assets") .'/admin/layout/img/user29x29.png';
    
}*/
$logged_in = $this->flexi_auth->get_user_by_id()->result_array();
 $image_link = base_url("media/nbs") .'/admin/layout/img/user29x29.png';

$CI =& get_instance();

$this->load->library('rd_meta');

$this->load->library('flexi_auth');


?>
<style>
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle {
  background-color: #175e70;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover {
  background-color: #00576C;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
  background-color: #00576C;
}
</style>
<li class="dropdown dropdown-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
					<img alt="" id="imageAvatar" class="img-circle hide1" src="<?php echo $image_link; ?>"/>
                    <span class="username username-hide-on-mobile"> <?php echo $logged_in[0]['uacc_username']; ?> </span>
					<span class="username username-hide-on-mobile">
					<?php if($logged_in[0]['upro_first_name']){ echo $logged_in[0]['upro_first_name']; }; ?> </span>
					<i class="fa fa-angle-down"></i>
					</a>
					<ul class="dropdown-menu">
                        <!--
						<li>
							<a href="<?php echo base_url('auth_public/update_account'); ?>">
							<i class="icon-user"></i> My Profile </a>
						</li>
                        -->
						<?php $curSessionGroupID =  $CI->flexi_auth->get_user_group_id(); ?>						
						<?php $pelangganGroupID =  $CI->rd_meta->get_value('pelanggan_group_id'); ?>						
						<?php if($curSessionGroupID == $pelangganGroupID){?>						
						<li>							
							<a href="<?php echo base_url(); ?>users/view_edit_sub_profile">							
							<i class="icon-user"></i> My Profile </a>						
						</li>						
						<?php }else{ ?>						
						<li>							
							<a href="<?php echo base_url(); ?>users/view_edit_profile">							
							<i class="icon-user"></i> My Profile </a>						
						</li>						
						<?php } ?>
						<!--<li class="divider">
                        <li>
							<a href="<?php echo base_url(); ?>users/view_edit_beneficiary">
							<i class="icon-user"></i> Waris </a>
						</li>-->
						<li class="divider">
						</li>
						<li>
							<a href="<?php echo base_url('auth/logout') ?>">
							<i class="icon-key"></i> Log Out </a>
						</li>
					</ul>
				</li>