<?php $CI =& get_instance(); 
$user = $CI->flexi_auth->get_user_by_identity_row_array();
?>
<div class="top-menu">


			<ul class="nav navbar-nav pull-right">
				<!-- BEGIN NOTIFICATION DROPDOWN -->
				
				<!-- END NOTIFICATION DROPDOWN -->
				<!-- BEGIN INBOX DROPDOWN -->
				
				<!-- END INBOX DROPDOWN -->
				<!-- BEGIN TODO DROPDOWN -->
				
				<!-- END TODO DROPDOWN -->
				<!-- BEGIN USER LOGIN DROPDOWN -->
				<?php $this->load->view('nbs/common/includes/global_top_menu.tpl'); ?>
				<!-- END USER LOGIN DROPDOWN -->
				<!-- BEGIN QUICK SIDEBAR TOGGLER -->
				
				<!-- END QUICK SIDEBAR TOGGLER -->
			</ul>
		</div>