<?php $CI =& get_instance(); ?>
<?php $this->load->view('nbs/common/header/header.tpl'); ?> 
					<div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-white">
                                <div class="panel-heading clearfix">
                                    <h4 class="panel-title"><?php echo $CI->rd_menu->page_title()->page_title; ?> </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                         <table id="manage_user_acc" class="display table">
                                            <thead>
												<tr>
													<th>Nama Ketua Pegawai Insiden</th>
													<th>No Telefon</th>
													<th>Jawatan</th>
													<th>Alamat Bilik</th>
													<th>Status Lantikan</th>
													<th>E-Mel</th>
													<th>UKMPer</th>
												</tr>
											</thead>
                                            <tbody>
													<?php foreach ($result as $user) { 
														$id_kpi = $user['kpi_id'];
													?>
													<tr>
														<td>
															<?php echo $user['kpi_nama'];?>
														</td>
														<td>
															<?php echo $user['kpi_tel'];?>
														</td>
														<td>
															<?php echo $user['kpi_jawatan'];?>
														</td>
														<td>
															<?php echo $user['kpi_bilik'];?>
														</td>
														<td>
															<?php echo $user['kpi_status_lantikan'];?>
														</td>
														<td>
															<?php echo $user['kpi_emel'];?>
														</td>
														<td>
															<?php echo $user['kpi_ukmper'];?>
														</td>
														<td>
														<a href="#" onclick="javascript:delete_func('<?php echo $id_kpi; ?>');">Delete</a>
															</td>
													</tr>
												<?php } ?>
												</tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
					<form name="delete" id="delete" action="" method="POST">
						<input type='hidden' name="action" value="delete">
						<input type='hidden' name="id_kpi" id="id_kpi" value="">
					</form>
<script type='text/javascript'>
function delete_func(id_kpi){
	if (confirm("Delete this data ?")) {
		document.getElementById("id_kpi").value = id_kpi;
		document.delete.submit();
		//alert('Deleted');
	  } else {
		//alert('Not Deleted');
	  }
}
</script>
<?php $this->load->view('nbs/common/footer/footer.tpl'); ?> 
 


