<?php
$CI =& get_instance();

?>
</div>
	</div>
	<!-- END CONTENT -->
	<!-- BEGIN QUICK SIDEBAR -->
	<?php $this->load->view('nbs/common/includes/global_quick_sidebar'); ?> 
	<!-- END QUICK SIDEBAR -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<?php $this->load->view('nbs/common/includes/global_footer'); ?>
<!-- END FOOTER -->
<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/respond.min.js"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/excanvas.min.js"></script> 
<![endif]-->
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery-1.11.0.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<script type="text/javascript">$(function(){
    $.ajaxSetup({ cache: true });
    $.getScript('//connect.facebook.net/en_UK/all.js', function(){
    FB.init({
        appId   : '<?php echo $CI->rd_meta->get_value('facebook_app_id'); ?>',
        xfbml   : true,
        version : 'v2.3'
    });     
    
  });
  
});</script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery-facebook.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/imagesloaded.pkgd.min.js"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery.form.js"></script>

<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery-nestable/jquery.nestable.js"></script>
<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/select2/select2.min.js"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js"></script>


<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/clockface/js/clockface.js"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script type="text/javascript" src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-toastr/toastr.min.js"></script>


<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-modal/js/bootstrap-modal.js" type="text/javascript"></script>

<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery.alphanumeric.js" type="text/javascript"></script><script src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-fileinput/bootstrap-fileinput.js" type="text/javascript"></script>





<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="<?php echo base_url('media/nbs'); ?>/admin/pages/scripts/ui-nestable.js"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/scripts/metronic.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/admin/layout/scripts/layout.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/admin/layout/scripts/demo.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/admin/pages/scripts/index.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/admin/pages/scripts/tasks.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/admin/pages/scripts/table-advanced.js"></script>
<script src="<?php echo base_url('media/nbs'); ?>/admin/pages/scripts/form-samples.js"></script>
<script src="<?php echo base_url('media/nbs'); ?>/admin/pages/scripts/components-pickers.js"></script>
<script src="<?php echo base_url('media/nbs'); ?>/admin/pages/scripts/ui-extended-modals.js"></script>


<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/jquery-validation/js/additional-methods.min.js" type="text/javascript"></script>
<script src="<?php echo base_url('media/nbs'); ?>/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>


<script src="<?php echo base_url('media/nbs'); ?>/admin/pages/scripts/form-wizard.js"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
jQuery(document).ready(function() {    
   Metronic.init(); // init metronic core componets
   Layout.init(); // init layout
   //QuickSidebar.init(); // init quick sidebar
   Demo.init(); // init demo features 
   Index.init();   
   Index.initDashboardDaterange();
   //Index.initJQVMAP(); // init index page's custom scripts
   Index.initCalendar(); // init index page's custom scripts
   Index.initCharts(); // init index page's custom scripts
   Index.initChat();
   Index.initMiniCharts();
   //Index.initIntro();
   Tasks.initDashboardWidget();
   TableAdvanced.init();
   UINestable.init();
   FormSamples.init();
   ComponentsPickers.init();
   
   $('.logo-default').imagesLoaded().fail( function() {
    $('.logo-default').parent().html('<h4 class="logo-text"><?php echo $CI->rd_meta->get_value('title'); ?></h4>');
  });
   setTimeout("facebook.WaitUntilLoaded()",1000);
   
   
   
   
});
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>